@page
@model Final.Pages.Rochii.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Rochii de mireasa de inchiriat</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Cautati rochita dupa denumire:
            <!--sau numele designerului:   -->

            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Cauta" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<a asp-page="./Index" asp-route-sortOrder="@Model.PretDesc"> Sortare descrescatoare in functie de pret  </a>

<a asp-page="./Index" asp-route-sortOrder="@Model.PretCresc"> Sortare crescatoare in functie de pret  </a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rochie[0].Denumire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rochie[0].Pret)
            </th>
           <th>
                <!-- @Html.DisplayNameFor(model => model.Rochie[0].Designer.NumeDesigner)  -->
                   Numele designerului
            </th>
      <th>
                @Html.DisplayNameFor(model => model.Rochie[0].Marime.Marimea)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Rochie[0].Categorie.Categoria)
            </th>
            <th>
             <!--   @Html.DisplayNameFor(model => model.Rochie[0].AccesoriiRochii) -->
          
            Accesorii
             </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RochieD.Rochii)
        {
            string selectedRow = "";
            if (item.ID == Model.RochieID)
            {
                selectedRow = "table-success";
            }

            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret) RON
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designer.NumeDesigner)
                </td>
    <td>
                    @Html.DisplayFor(modelItem => item.Marime.Marimea)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Categorie.Categoria)
                    </td>
                <td>
                    
                    @{
                        foreach (var category in item.AccesoriiRochii)
                        {
                            //@category.Accesoriu.ID 
                            @: -@category.Accesoriu.Accesoriul  <br />
                        }
                    }
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
